.ms-navegador{
   
    .navbar{
        background:rgba(253, 106, 4, 0.6);
        padding: 15px;
        a{
            color:#fff;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
        .navbar-nav{
            li{
                cursor: pointer;
            }
            li:hover{
                background: rgba(253, 106, 4, 0.8);
            }
            
        }
    }
}

@media (min-width:1024px){

    .ms-navegador{
        .navbar{
            padding: 0;

            .marca{
                margin-left: 20px;
            }
            .navbar-nav{
                li{
                    padding: 15px;
                }
            }
        }
    }
    
}