<div class="ms-gallery">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 col-sm-4 item">
                <img src="https://http2.mlstatic.com/pastelitos-andinos-venezolanos-pasteles-fritos-D_NQ_NP_785602-MLA29311113777_022019-F.jpg" alt="">
            </div>
            <div class="col-xs-4 col-sm-4 item">
                <img src="https://www.seriouseats.com/recipes/images/2013/08/20130807-262121-tequenos.jpg" alt="">
            </div>
            <div class="col-xs-4 col-sm-4 item">
                <img src="https://i.ytimg.com/vi/sqLODbeA5PY/hqdefault.jpg" alt="">
            </div>
        </div>
    </div>
</div>
