.andinita-marca{
    .titulo{
        h1{
            font-size: 80px;
            font-family: 'Times New Roman', Times, serif;
            font-weight: bold;
            color: white;
            
        }
    }
    .logo{
        img{
            width: 300px;
            position: absolute;
            top: -65px;
        }
    }
}