.andinita-marca{
    width: 100%;
    .titulo{
        h1{
            color: #fff;
            text-align: right;
            font-size: 90px;
        }
    }
}

@media (min-width:100px) and (min-width:320px){

    .andinita-marca{
        width: 100%;
        .titulo{
            h1{
                font-size: 50px;
                text-align: center;
            }
        }
    }

}



@media (min-width:375px){

    .andinita-marca{
        width: 100%;
        .titulo{
            h1{
                font-size: 50px;
                text-align: center;
                padding: 4px;
            }
        }
    }

}

@media (min-width:425px){

    .andinita-marca{
        width: 100%;
        .titulo{
            h1{
                font-size: 57px;
                text-align: center;
                padding: 4px;
            }
        }
    }

}

@media (min-width:768px){

    .andinita-marca{
        width: 100%;
        .titulo{
            h1{
                font-size: 71px;
                text-align: center;
                padding: 18px;
            }
        }
    }

}

