<div class="ms-slider">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="slider">
                    <img src="https://http2.mlstatic.com/pastelitos-andinos-venezolanos-pasteles-fritos-D_NQ_NP_783050-MLA29311110797_022019-F.jpg" alt="">
                    <h2>Pasteis de Frango <br> R$ 2,50</h2>
                    <button class="btn ">Fazer Pedido</button>
                </div>
            </div>
        </div>
    </div>
</div>